.modulesL {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modulesL .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #131A28;
  color: #e6e6e6;
  padding: 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modulesL .popup #yes, .modulesL .popup #no {
  padding: 10px;
}

.modulesL .popup #yes {
  color: #3AD29F;
}

.modulesL .popup #no {
  color: red;
}

.modulesL .popup #yes:hover, .modulesL .popup #no:hover {
  cursor: pointer;
  font-weight: 600;
}

.modulesL .listQuiz table tr :nth-child(4), .modulesL .listModules table tr :nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modulesL .listQuiz, .modulesL .listModules, .modulesL .listUser {
  bottom: 0;
  width: 50%;
  height: 80%;
  border-collapse: collapse;
  overflow-y: scroll;
  padding: 10px;
}

.modulesL .listQuiz table, .modulesL .listModules table, .modulesL .listUser table {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modulesL .listQuiz table p, .modulesL .listQuiz table a, .modulesL .listModules table p, .modulesL .listModules table a, .modulesL .listUser table p, .modulesL .listUser table a {
  font-family: "Muli";
  margin: 10px;
  width: 100px;
  color: #131A28;
  padding: 5px 10px;
  border-radius: 3px;
  background: #EBB94A;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 600;
}

.modulesL .listQuiz table p, .modulesL .listModules table p, .modulesL .listUser table p {
  background: #eb0d0d;
  color: #e6e6e6;
}

.modulesL .listQuiz table p:hover, .modulesL .listQuiz table a:hover, .modulesL .listModules table p:hover, .modulesL .listModules table a:hover, .modulesL .listUser table p:hover, .modulesL .listUser table a:hover {
  cursor: pointer;
  background: #e6e6e6;
  color: #131A28;
}

.modulesL .listQuiz table thead, .modulesL .listModules table thead, .modulesL .listUser table thead {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.modulesL .listQuiz table thead :nth-child(1), .modulesL .listModules table thead :nth-child(1), .modulesL .listUser table thead :nth-child(1) {
  border-left: none;
}

.modulesL .listQuiz table thead :nth-child(2), .modulesL .listModules table thead :nth-child(2), .modulesL .listUser table thead :nth-child(2) {
  width: 30%;
}

.modulesL .listQuiz table thead :nth-child(4), .modulesL .listModules table thead :nth-child(4), .modulesL .listUser table thead :nth-child(4) {
  margin: 0;
}

.modulesL .listQuiz table thead th, .modulesL .listModules table thead th, .modulesL .listUser table thead th {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.modulesL .listQuiz table tr:nth-child(1) :nth-child(4), .modulesL .listModules table tr:nth-child(1) :nth-child(4), .modulesL .listUser table tr:nth-child(1) :nth-child(4) {
  border-top: none;
}

.modulesL .listQuiz table tr, .modulesL .listModules table tr, .modulesL .listUser table tr {
  text-align: center;
}

.modulesL .listQuiz table tr :nth-child(1), .modulesL .listModules table tr :nth-child(1), .modulesL .listUser table tr :nth-child(1) {
  border-left: none;
}

.modulesL .listQuiz table tr td, .modulesL .listModules table tr td, .modulesL .listUser table tr td {
  word-break: break-word;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.modulesL .bigger {
  width: 100%;
}

.modulesL .bigger table thead :nth-child(1) {
  border-left: none;
  width: 12%;
}

.modulesL .bigger table thead :nth-child(2) {
  width: 12%;
}

.modulesL .bigger table thead :nth-child(3) {
  width: 10%;
}

.modulesL .bigger table thead :nth-child(4) {
  width: 35%;
}

.modulesL .bigger table thead :nth-child(5) {
  width: 15%;
}

.modulesL .bigger table button {
  background: #EBB94A;
  border: none;
  border-radius: 3px;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: bold;
  color: #131A28;
  padding: 5px 10px;
  margin: 5px;
}

.modulesL .bigger table button:hover {
  background: #e6e6e6;
}

.modulesL .bigger table .red {
  background: red;
}

.modulesL .listQuiz::-webkit-scrollbar, .modulesL .listModules::-webkit-scrollbar, .modulesL .listUser::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.modulesL .listQuiz::-webkit-scrollbar-thumb, .modulesL .listModules::-webkit-scrollbar-thumb, .modulesL .listUser::-webkit-scrollbar-thumb {
  background: #EBB94A;
  border-radius: 100px;
}

.modulesL .listQuiz::-webkit-scrollbar-thumb:hover, .modulesL .listModules::-webkit-scrollbar-thumb:hover, .modulesL .listUser::-webkit-scrollbar-thumb:hover {
  background: #EBB94A;
}

.modulesL .listQuiz::-webkit-scrollbar-thumb:active, .modulesL .listModules::-webkit-scrollbar-thumb:active, .modulesL .listUser::-webkit-scrollbar-thumb:active {
  background: #EBB94A;
}

.modulesL .listQuiz::-webkit-scrollbar-track, .modulesL .listModules::-webkit-scrollbar-track, .modulesL .listUser::-webkit-scrollbar-track {
  background: #131A28;
  border-radius: 50px;
}

.modulesL .listQuiz::-webkit-scrollbar-corner, .modulesL .listModules::-webkit-scrollbar-corner, .modulesL .listUser::-webkit-scrollbar-corner {
  background: transparent;
}
