.quizsL {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
  color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quizsL .h2 {
  color: #e6e6e6;
  z-index: 4;
  font-size: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.quizsL .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #131A28;
  color: #e6e6e6;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quizsL .popup #yes, .quizsL .popup #no {
  padding: 10px;
}

.quizsL .popup #no {
  color: #3AD29F;
}

.quizsL .popup #yes {
  color: red;
}

.quizsL .popup #yes:hover, .quizsL .popup #no:hover {
  cursor: pointer;
  font-weight: 600;
}

.quizsL .listQuiz {
  bottom: 0;
  width: 50%;
  height: 80%;
  border-collapse: collapse;
  overflow-y: scroll;
  padding: 10px;
}

.quizsL .listQuiz table {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.quizsL .listQuiz table tr :nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quizsL .listQuiz table p, .quizsL .listQuiz table a {
  font-family: "Muli";
  margin: 10px;
  width: 100px;
  color: #131A28;
  padding: 5px 10px;
  border-radius: 3px;
  background: #EBB94A;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 600;
}

.quizsL .listQuiz table p {
  background: #eb0d0d;
  color: #e6e6e6;
}

.quizsL .listQuiz table p:hover, .quizsL .listQuiz table a:hover {
  cursor: pointer;
  background: #e6e6e6;
  color: #131A28;
}

.quizsL .listQuiz table thead {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.quizsL .listQuiz table thead :nth-child(1) {
  border-left: none;
}

.quizsL .listQuiz table thead :nth-child(2) {
  width: 30%;
}

.quizsL .listQuiz table thead :nth-child(4) {
  margin: 0;
}

.quizsL .listQuiz table thead th {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.quizsL .listQuiz table tr:nth-child(1) :nth-child(4) {
  border-top: none;
}

.quizsL .listQuiz table tr {
  text-align: center;
}

.quizsL .listQuiz table tr :nth-child(1) {
  border-left: none;
}

.quizsL .listQuiz table tr td {
  word-break: break-word;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.quizsL .bigger {
  width: 100%;
}

.quizsL .bigger table thead :nth-child(1) {
  border-left: none;
  width: 12%;
}

.quizsL .bigger table thead :nth-child(2) {
  width: 12%;
}

.quizsL .bigger table thead :nth-child(3) {
  width: 10%;
}

.quizsL .bigger table thead :nth-child(4) {
  width: 35%;
}

.quizsL .bigger table thead :nth-child(5) {
  width: 15%;
}

.quizsL .bigger table button {
  background: #EBB94A;
  border: none;
  border-radius: 3px;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: bold;
  color: #131A28;
  padding: 5px 10px;
  margin: 5px;
}

.quizsL .bigger table button:hover {
  background: #e6e6e6;
}

.quizsL .bigger table .red {
  background: red;
}

.quizsL .listQuiz::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.quizsL .listQuiz::-webkit-scrollbar-thumb {
  background: #EBB94A;
  border-radius: 100px;
}

.quizsL .listQuiz::-webkit-scrollbar-thumb:hover {
  background: #EBB94A;
}

.quizsL .listQuiz::-webkit-scrollbar-thumb:active {
  background: #EBB94A;
}

.quizsL .listQuiz::-webkit-scrollbar-track {
  background: #131A28;
  border-radius: 50px;
}

.quizsL .listQuiz::-webkit-scrollbar-corner {
  background: transparent;
}

@media (max-width: 825px) {
  .quizsL .listUser {
    height: 70%;
  }
  .quizsL .listQuiz {
    width: 100%;
  }
  .quizsL .listQuiz table thead :nth-child(1) {
    width: 25%;
  }
  .quizsL .listQuiz table thead :nth-child(2) {
    width: 25%;
  }
}
