.add_tag {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add_tag h3 {
  font-family: "Montserrat";
  text-align: center;
}

.add_tag input[type=submit] {
  background: #EBB94A;
  border-radius: 3px;
  padding: 5px 10px;
  border: none;
  font-size: 2rem;
  font-weight: 600;
  color: #131A28;
  -webkit-transition: .2s;
  transition: .2s;
}

.add_tag input[type=submit]:hover {
  background: #e6e6e6;
}

.add_tag .contentTag {
  background: rgba(36, 51, 76, 0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
  color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
}

.add_tag .listTag {
  height: 300px;
  background: rgba(19, 26, 40, 0.9);
  padding: 15px;
  border-radius: 5px;
  margin-right: 15px;
}

.add_tag .listTag ul {
  height: 200px;
  color: #e6e6e6;
  list-style: none;
  margin: 0;
  padding: 0px 5px;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add_tag .listTag ul li {
  position: relative;
  margin: 5px;
  width: 150px;
  padding: 10px 5px;
  text-align: center;
  background: #EBB94A;
  color: #131A28;
  font-weight: 600;
  border-radius: 3px;
  word-break: break-word;
}

.add_tag .listTag ul li .deleteBtn {
  width: 10px;
  position: absolute;
  top: 0px;
  right: 5px;
}

.add_tag .listTag ul li .deleteBtn i {
  color: #eb0d0d;
}

.add_tag .listTag ul li .deleteBtn:hover i {
  color: #880d0d;
}

.add_tag .listTag ul li .confirm {
  position: fixed;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background: #24344D;
  padding: 5px 10px;
  border-radius: 5px;
  color: #e6e6e6;
  z-index: 45;
}

.add_tag .listTag ul li .confirm a, .add_tag .listTag ul li .confirm span {
  font-weight: 100;
  margin: 5px;
  color: #eb0d0d;
}

.add_tag .listTag ul li .confirm span {
  color: #3AD29F;
}

.add_tag .listTag ul li .confirm span:hover, .add_tag .listTag ul li .confirm a:hover {
  cursor: pointer;
  font-weight: 600;
}

.add_tag .listTag ul li .hidden {
  display: none;
}

.add_tag .listTag ul::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.add_tag .listTag ul::-webkit-scrollbar-thumb {
  background: #EBB94A;
  border-radius: 100px;
}

.add_tag .listTag ul::-webkit-scrollbar-thumb:hover {
  background: #EBB94A;
}

.add_tag .listTag ul::-webkit-scrollbar-thumb:active {
  background: #EBB94A;
}

.add_tag .listTag ul::-webkit-scrollbar-track {
  background: #192231;
  border-radius: 50px;
}

.add_tag .listTag ul::-webkit-scrollbar-corner {
  background: transparent;
}

.add_tag form {
  height: 300px;
  color: #e6e6e6;
  background: rgba(19, 26, 40, 0.9);
  padding: 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add_tag form div {
  position: relative;
}

.add_tag form div input {
  width: 150px;
  background: none;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  outline: none;
  color: #e6e6e6;
  text-align: center;
  margin-bottom: 35px;
}

.add_tag form div input:focus {
  text-align: center;
  color: #e6e6e6;
}

.add_tag form div input:not(:focus) {
  text-align: center;
  color: #e6e6e6;
}

.add_tag form input[type="submit"] {
  font-size: 1.5rem;
}
