@import 'mixin', 'colors', 'fontSize';
.step2
{
  position: relative;
  top: 0;
  font-family: "Muli";
  font-size: $fontSize2;
  color: $police;
  z-index: 2;
  width: 100%;
  @include flex(space-around, center, column);
  .h2
  {
    color: $police;
    z-index: 4;
    font-size: $fontSize3;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  h3
  {
    font-size: $fontSize2;
    color: $police;
    font-family: "Montserrat";
    font-weight: 200;
  }
  img
  {
    max-width: 30%;
  }
  .error
  {
    color: red;
  }
  .mess
  {
    font-size: $fontSize2;
    font-weight: 600;
    text-align: center;
  }
  .steps
  {
    position: relative;
    width: 50%;
    height: 20%;
    @include flex(space-between, center, row);
    .step
    {
      background: $color3;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      @include flex(center, center, row);
      font-size: $fontSize3;
      font-family: "Muli";
      color: $police;
      z-index: 2;
    }
    .stepInto
    {
      background: $color-imp;
    }
    .stick
    {
      @include positionTL(absolute, 50%, 50%);
      transform: translate(-50%);
      width: 90%;
      height: 2%;
      background: $color3;
      z-index: 1;
    }
  }
  .plus
  {
    margin-bottom: 10px;
    font-size: $fontSize3;
  }
  .trash
  {
    @include positionTR(absolute, 15px, 15px);
  }
  .total
  {
    margin: 0;
    font-weight: 600;
    @include positionTR(fixed, 20%, 25px);
  }
  form
  {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    @include flex(space-around, center, column);
    .nbrQuestionVisible{
      position: relative;
      width: 80%;
      text-align: center;
      @include flex(center, center, row);
      div{
        position: relative;
        width: 50px;
        margin-left: 5px;
        select
        {
          position: relative;
          width: 100%;
          background: $color-btn;
          color: $color1;
          appearance: none;
          padding: 5px 15px;
          border: none;
          border-radius: 3px;
          outline: none;
          transition: .2s;
          font-size: $fontSize1;
          text-transform: uppercase;
          font-weight: 600;
        }
        i{
          pointer-events: none;
          color: $color1;
          transform: translateY(50%);
          @include positionBR(absolute,60%,5px);
        }
        select:hover
        {
          background: $police;
          cursor: pointer;
        }
      }
    }
    .hidden
    {
      display: none !important;
    }
    input[name=nbrQuestion]{
      display:none;
    }
    input[type=submit]{
      display:none;
    }
    .questionPage
    {
      position: relative;
      width: 80%;
      background: rgba(36, 51, 76, 0.5);
      border-radius: 5px;
      padding: 10px 10px;
      font-size: $fontSize2;
      margin-top: 15px;
      margin-bottom: 15px;
      @include flex(flex-start, flex-start, column);
      .legend
      {
        background: $color1;
        padding: 5px;
        border-radius: 3px;
        transition: .2s;
        ul
        {
          padding: 0px;
          list-style: none;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          user-select: none;
          li
          {
            width: 30%;
            margin-bottom: 10px;
            span
            {
              font-weight: bold;
              color: $color-imp;
            }
            span:nth-child(1)
            {
              font-size: $fontSize3;
            }
          }
        }
        p
        {
          user-select: none;
        }
        .display
        {
          display: none;
        }
      }
      .legend:hover
      {
        background: $color2;
        cursor: pointer;
      }
      div
      {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 5px;
        input
        {
          width: 70%;
          background: none;
          border:none;
          border-bottom: 1px solid $police;
        }
        textarea
        {
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          min-height: 150px;
          outline: none;
          background: $color1;
          color: $police;
          border: none;
          border-radius: 5px;
          padding: 10px;
        }
        label
        {
          font-weight: 600;
          color: $color-imp;
        }
        input:focus
        {
          color: $color-imp;
        }
        input:not(:focus)
        {
          color: $color-imp;
        }
      }
      .answers
      {
        position: relative;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        @include flex(center, flex-start, column);
        .abcd
        {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          label
          {
            color: $police;
          }
          .answer
          {
            width: 50%;
            margin-top: 15px;
            margin-bottom: 15px;
            @include flex(space-evenly, center, row);
            input
            {
              outline: none;
              width: 60%;
            }
            input[type=radio]
            {
              position: absolute;
              opacity: 0;
              width: 10%;
              height: 0;
            }
            .true:hover input ~ span i
            {
              color: #3AD29F;
            }
            .true input:checked ~ span i
            {
              color: #3AD29F;
            }
            .false:hover input ~ span i
            {
              color: red;
            }
            .false input:checked ~ span i
            {
              color: red;
            }
          }
        }
      }
    }
    .media
    {
      @include flex(space-around, center, row);
      div
      {
        position: relative;
        width: 45%;
        @include flex(space-between, center, row);
        button
        {
          width: 70%;
          background: none;
          border: none;
          p
          {
            position: relative;
            padding: 5px 10px;
            width: 100%;
            background: $color-btn;
            border: none;
            border-radius: 3px;
            color: $color1;
            outline: none;
            transition: .2s;
            font-size:$fontSize1;
            font-weight: 600;
            text-transform: uppercase;
          }
          p:hover
          {
            background: $police;
            cursor: pointer;
          }
        }
        span
        {
          font-size: $fontSize1;
          @include positionBR(absolute, -10px, 0px);
        }
        label
        {
          color: $police;
        }
      }
      div:nth-child(3)
      {
        @include flex(space-around, center, row);
        input
        {
          width: 70%;
        }
      }
    }
  }
  .validate, .sketching
  {
    padding: 5px 10px;
    background: $color-btn;
    border-radius: 3px;
    color: $color1;
    font-weight: 600;
    transition: .2s;
  }
  .validate:hover, .sketching:hover
  {
    background: $police;
    cursor: pointer;
  }
}
// mobile responsive
@media (max-width: 825px) {
  .step2
  {
    .total
    {
      padding: 5px;
      background: rgba(25, 34, 49, 0.7);
      top: auto;
      bottom: 5px;
      right: 5px;
      border-radius: 3px;
    }
    .sketching
    {
      margin-bottom: 15%;
    }
    .steps
    {
      width: 80%;
    }
    form
    {
      width: 100%;
      .questionPage
      {
        width: 90%;
        .media
        {
          flex-direction: column;
          div
          {
            width: 80%;
          }
        }
        .answers
        {
          .abcd
          {
            .answer
            {
              width: 80%;
            }
          }
        }
      }
    }
  }
}