@import 'mixin', 'colors', 'fontSize';
.step1
{
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Muli";
  z-index: 2;
  @include flex(flex-start, center, column);
  .h2
  {
    color: $police;
    z-index: 4;
    font-size: $fontSize3;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  h3
  {
    font-size: $fontSize2;
    color: $police;
    font-weight: 200;
    font-family: "Montserrat";
  }
  .error
  {
    color: red;
  }
  .good
  {
    color: #3AD29F;
  }
  .mess
  {
    font-size: $fontSize2;
    font-weight: 600;
    text-align: center;
  }
  .steps
  {
    position: relative;
    width: 50%;
    height: 20%;
    @include flex(space-between, center, row);
    .step
    {
      background: $color3;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      @include flex(center, center, row);
      font-size: $fontSize3;
      font-family: "Muli";
      color: $police;
      z-index: 2;
    }
    .stepInto
    {
      background: $color-imp;
    }
    .stick
    {
      @include positionTL(absolute, 50%, 50%);
      transform: translate(-50%);
      width: 90%;
      height: 2%;
      background: $color3;
      z-index: 1;
    }
  }
  form
  {
    position: relative;
    width: 55%;
    height: 40%;
    color: $police;
    font-size: $fontSize2;
    font-family: "Muli";
    font-weight: 600;
    @include flex(space-between, center, "");
    .moduleThemeLabel
    {
      width: 75%;
    }
    .textarea
    {
      position: relative;
      width: 40%;
      textarea
      {
        background: $color1;
        border: none;
        max-width: 100%;
        min-width: 100%;
        max-height: 150px;
        min-height: 150px;
        border-radius: 3px;
        color: $police;
        outline: none;
      }
    }
    .content
    {
      position: relative;
      width: 50%;
      @include flex(space-around, center, column);
      div
      {
        position: relative;
        width: 100%;
        @include flex(space-between, center, row);
        label
        {
          position: relative;
          width: 50%;
          text-align: start;
          margin: 10px 0px;
        }
        input
        {
          position: relative;
          width: 62%;
          background: none;
          border: none;
          border-bottom: 1px solid $police;
        }
        input:focus
        {
          color: $police;
          outline: none;
          text-align: center;
        }
        input:not(:focus)
        {
          color: $police;
          outline: none;
          text-align: center;
        }
        select
        {
          position: relative;
          width: 62%;
          background: $color-btn;
          color: $color1;
          appearance: none;
          padding: 5px 15px;
          border: none;
          border-radius: 3px;
          outline: none;
          transition: .2s;
          font-size: $fontSize1;
          text-transform: uppercase;
          font-weight: 600;
        }
        select:hover
        {
          background: $police;
          cursor: pointer;
        }
        i
        {
          color: $color1;
          font-size: $fontSize2;
          margin-bottom: 5px;
          transform: translateY(-50%);
          @include positionTR(absolute, 50%, 5px);
        }
        button
        {
          width: 200px;
          background: none;
          border: none;
          padding: 0;
          p
          {
            position: relative;
            padding: 5px 10px;
            width: 100%;
            background: $color-btn;
            border: none;
            border-radius: 3px;
            color: $color1;
            outline: none;
            transition: .2s;
            font-size:$fontSize1;
            font-weight: 600;
            text-transform: uppercase;
          }
          p:hover
          {
            background: $police;
            cursor: pointer;
          }
        }
        span
        {
          font-size: 12px;
          @include positionBR(absolute, -10px, 5px);
        }
      }
    }
    input[type=submit]
    {
      @include positionBR(absolute, -50px, 50%);
      transform: translate(50%,);
    }
    input[type=submit]
    {
      background: $color-btn;
      border-radius: 3px;
      padding: 5px 10px;
      border: none;
      font-size: $fontSize3;
      font-weight: 600;
      color: $color1;
      transition: .2s;
    }
    input[type=submit]:hover
    {
      background: $police;
    }
  }
}
// mobile responsive
@media (max-width: 825px)
{
  .step1
  {
    .steps
    {
      width: 89%;
    }
    form
    {
      width: 100%;
      flex-direction: column;
      .textarea
      {
        width: 90%;
        margin-bottom: 15px;
      }
      .content
      {
        margin-top: 60px;
        width: 90%;
      }
      input[type="submit"]
      {
        position: relative;
        transform: translate(0);
        margin: 25px;
        right: 0;
      }
    }
  }  
}
// landscape responsive
@media (max-height: 500px)
{
  .step1
  {
    form
    {
      width: 100%;
      margin: 10px 0px;
    }
  }
}