@import 'mixin';
.step2
{
  z-index: 2;
  width: 100%;
  @include flex(space-around, center, column);
  img
  {
    max-width: 30%;
  }
  .steps
  {
    position: relative;
    width: 50%;
    height: 20%;
    @include flex(space-between, center, row);
    .step
    {
      background: grey;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      @include flex(center, center, row);
      z-index: 2;
    }
    .stepInto
    {
      background: blue;
    }
    .stick
    {
      @include positionTL(absolute, 50%, 50%);
      transform: translate(-50%);
      width: 90%;
      height: 2%;
      background: grey;
      z-index: 1;
    }
  }
  .plus
  {
    margin-bottom: 10px;
  }
  h3
  {
    font-weight: 200;
  }
  .trash
  {
    @include positionTR(absolute, 15px, 15px);
  }
  .total
  {
    margin: 0;
    font-weight: 600;
    @include positionTR(fixed, 20%, 25px);
  }
  form
  {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    @include flex(space-around, center, column);
    .hidden
    {
      display: none !important;
    }
    .questionPage
    {
      position: relative;
      width: 80%;
      background: rgba(0, 0, 0, 0.5);
      padding: 10px 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      @include flex(flex-start, flex-start, column);
      div
      {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 5px;
        input
        {
          width: 70%;
          background: none;
          border:none;
          border-bottom: 1px solid black;
        }
        textarea
        {
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          min-height: 150px;
          outline: none;
          border: none;
          padding: 10px;
        }
        label
        {
          font-weight: 600;
        }
        input:focus
        {
        }
        input:not(:focus)
        {
        }
      }
      .answers
      {
        position: relative;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        @include flex(center, flex-start, column);
        .abcd
        {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          label
          {
          }
          .answer
          {
            width: 50%;
            margin-top: 15px;
            margin-bottom: 15px;
            @include flex(space-evenly, center, row);
            input
            {
              outline: none;
              width: 60%;
            }
            input[type=radio]
            {
              position: absolute;
              opacity: 0;
              width: 10%;
              height: 0;
            }
            .true:hover input ~ span i
            {
              color: #3AD29F;
            }
            .true input:checked ~ span i
            {
              color: #3AD29F;
            }
            .false:hover input ~ span i
            {
              color: red;
            }
            .false input:checked ~ span i
            {
              color: red;
            }
          }
        }
      }
    }
    .media
    {
      @include flex(space-around, center, row);
      div
      {
        position: relative;
        width: 45%;
        @include flex(space-between, center, row);
        button
        {
          width: 70%;
          background: none;
          border: none;
          p
          {
            position: relative;
            padding: 5px 10px;
            width: 100%;
            border: none;
            outline: none;
            transition: .2s;
            font-weight: 600;
            text-transform: uppercase;
          }
          p:hover
          {
            cursor: pointer;
          }
        }
        span
        {
          @include positionBR(absolute, -10px, 0px);
        }
        label
        {
        }
      }
      div:nth-child(3)
      {
        @include flex(space-around, center, row);
        input
        {
          width: 70%;
        }
      }
    }
  }
  .validate, .sketching
  {
    padding: 5px 10px;
    font-weight: 600;
    transition: .2s;
  }
  .validate:hover, .sketching:hover
  {
    cursor: pointer;
  }
}